<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>音楽新規登録</title>
</head>
<body>
<div class="container" style="margin:auto 20%;">
    <h1 style="margin:50px 0">音楽新規登録</h1>
    <form th:action="@{music_create}" th:object="${musicDTO}"
          method="post">

        <div class="mb-3">
            <label for="musictitle" class="form-label">タイトル</label>
            <input type="text" class="form-control" id="musictitle" placeholder="We are the world" th:field="*{musicTitle}">
            <p th:if="${#fields.hasErrors('musicTitle')}" th:errors="*{musicTitle}" style="color:red;"></p>
        </div>
        <div class="row">
            <div class="col">
                <label for="genre" class="form-label">ジャンル</label>
                <select id="genre" class="form-select"  th:field="*{genre}">
                <option value="">--Please choose an option--</option>
                <option value='HIPHOP'>HIP-HOP</option>
                <option value='SOUL'>SOUL</option>
                <option value='POPS'>POPS</option>
                <option value='CLASSIC'>CLASSIC</option>
                <option value='ROCK'>ROCK</option>
                </select>
                <p th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}" style="color:red;"></p>
            </div>
            <div class="col">
                <label for="artistName" class="form-label">歌手名</label>
                <select id="artistName" class="form-select" th:field="*{artist_id}">
                    <option value="">--Please choose an option--</option>
                    <option th:each="artist :${artistList}" th:value="${artist.id}" th:text="${artist.name}"></option>
                </select>
                <p th:if="${#fields.hasErrors('artist_id')}" th:errors="*{artist_id}" style="color:red;"></p>
            </div>
        </div>
        <div class="artist_register" style="color:#009ee2;margin: 20px auto;">
            一覧に該当するアーティストが存在しない場合、<a href="http://localhost:8080/artist_register" style="color:#3463FF;">こちら</a>から新規登録をしてください。
        </div>

        <div class="btn_area_center" style="margin-top: 30px">
            <input type="submit" value="登録" class="btn btn-outline-primary" style="  display:block; width:150px; margin:0 auto;"/>
        </div>

    </form>
</div>
</body>
</html>


